.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.75rem;
}
.wrapper {
  background-color: var(--softBg);
  padding: 9.375rem 12.5rem;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  border-radius: 10px;
}

.socialButton {
  padding: 1.25rem;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.socialButton:first-child {
  background-color: #ff5555;
}
.socialButton:nth-child(2) {
  background-color: #111;
}
.socialButton:last-child {
  background-color: #087bea;
}

@media screen and (max-wifht: 768px) {
  .wrapper {
    padding: 3.125rem 6.25rem;
  }
}

@media screen and (max-wifht: 640px) {
  .wrapper {
    padding: 1.875rem;
  }
  .socialButton {
    font-weight: 400;
    font-size: 0.875rem;
  }
}
