:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --contextMenuBg: #f0f0f0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

.dark {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
  --contextMenuBg: #bebebe;
}
.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 96rem;
  margin: 0 auto;
  padding-inline: 5rem;
}

.ql-container.ql-bubble {
  font-size: 1.75rem;
}
.ql-editor.ql-blank[data-placeholder] {
  /* content: attr(data-placeholder); */
  font-size: medium;
}
div.ql-editor.ql-blank::before {
  color: var(--softTextColor);
  padding-top: 3%;
}
.ql-editor p {
  font-size: 1.125rem;
}
.lock-scroll {
  overflow: hidden;
}
.error {
  margin: 0.625rem 0;
  color: #ff0033;
  font-family: 'Montserrat', monospace;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.15em;
  min-height: 1rem;
}

/* MEDIA */

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-inline: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 480px;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    max-width: 460px;
    padding-inline: 1rem;
  }
}
