:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

.dark {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
}
.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 96rem;
  margin: 0 auto;
  padding-inline: 5rem;
}

.ql-container.ql-bubble {
  font-size: 1.75rem;
}
/* .ql-container {
  font-size: 1.75rem !important;
} */
/* .quill > .ql-container > .ql-editor.ql-blank::before {
  color: var(--softTextColor);
} */
div.ql-editor.ql-blank::before {
  color: var(--softTextColor);
  padding-top: 3%;
}

/* MEDIA */

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-inline: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 480px;
  }
}
