.container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.select {
  margin-bottom: 50px;
  padding: 10px 20px;
  margin-left: 50px;
  width: max-content;
}
.input {
  padding: 3.125rem;
  font-size: 4rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--textColor);
}
.input::placeholder {
  color: #b3b3b1;
}
.editor {
  display: flex;
  gap: 1.25rem;
  height: 43.75rem;
  position: relative;
}

.button,
.addButton {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add {
  display: flex;
  position: absolute;
  z-index: 10;
  gap: 1.25rem;
  width: 100%;
  background-color: var(--bg);
  left: 50px;
}
.addButton {
  border-color: #1a8917;
}
/* .addButton {
  border-color: #b1e685;
  background: linear-gradient(45deg, #b1e685 0%, #ba85e6 100%);
  box-shadow: 0 2px 2px #888888;
}
.addButton:hover {
  background-image: linear-gradient(#b1ccda 0%, #96b4c5 100%);
  color: #03324c;
} */

.textArea {
  width: 100%;
}
.publish {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0.625rem 1.25rem;
  border: none;
  background-color: #1a8917;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
}
.publish:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
