.container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.select {
  margin-bottom: 50px;
  padding: 10px 20px;
  margin-left: 50px;
  width: max-content;
}
.input {
  padding: 3.125rem;
  font-size: 4rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--textColor);
}
.input::placeholder {
  color: #b3b3b1;
}
.editor {
  display: flex;
  gap: 1.25rem;
  height: 43.75rem;
  position: relative;
}

.button,
.addButton {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 11px;
  font-weight: 500;
  background-color: var(--softBg);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.add {
  display: flex;
  position: absolute;
  z-index: 10;
  gap: 1.25rem;
  width: 100%;
  background-color: var(--bg);
  left: 50px;
}

.addButton:hover,
.button:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
}

.textArea {
  width: 100%;
}
.publish {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0.625rem 1.25rem;
  border: none;
  background-color: #1a8917;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
}
.publish:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
