.container {
  margin-top: 3.125rem;
  padding: 1.25rem 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--softTextColor);
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.logoText {
  font-size: 1.5rem;
}
.desc {
  font-weight: 300;
}
.newsletter {
  font-weight: 300;
  text-decoration: underline !important;
}
.icons {
  margin-top: 0.625rem;
  display: flex;
  gap: 0.625rem;
}
.links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 6.25rem;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  font-weight: 300;
}
.listTitle {
  font-weight: bold;
}

/* MEDIA */

@media screen and (max-width: 1024px) {
  .links {
    gap: 3.125rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 3.125rem;
  }
  .links {
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 640px) {
  .links {
    font-size: 0.875rem;
  }
}
