.items {
  display: flex;
  flex-direction: column;
  gap: 2.1875rem;
  margin-top: 2.1875rem;
  margin-bottom: 3.75rem;
}
.item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.imageContainer {
  flex: 1;
  position: relative;
  aspect-ratio: 1/1;
}
.image {
  border-radius: 50%;
  border: 3px solid lightgray;
  object-fit: cover;
}

.textContainer {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}
.category {
  padding: 0.1875rem 0.5rem;
  border-radius: 0.625rem;
  color: white;
  font-size: 0.75rem;
  width: max-content;
}
.category.travel {
  background-color: #ff7857;
}
.culture {
  background-color: #ffb14f;
}
.food {
  background-color: #7fb881;
}
.fashion {
  background-color: #ff7887;
}
.coding {
  background-color: #775aec;
}
.lifestyle {
  background-color: #789cff;
}
.postTitle {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--softTextColor);
}

.detail {
  color: gray;
  font-size: 0.75rem;
}
.date {
  color: gray;
}
.username {
  color: var(--softTextColor);
}
