.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 1.25rem;
  width: 2.5rem;
  border-radius: 3.125rem;
  cursor: pointer;
}
.ball {
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
}
